.btn {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 6px;
	padding: 12px 24px;
	color: white;
	opacity: 0.65;
	transition: 350ms;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}
